<div class="expense-card">
    <div class="card-header">
        <p class="title">
            Know your savings
        </p>
        <button (click)="clear.emit()" class="btn-clear">Clear All</button>
    </div>
    <div class="stat-card">
        <div class="income block">
            <p>Income</p>
            <p class="value">{{income}} Rs</p>
        </div>
        <div class="expense block">
            <p>Expense</p>
            <p class="value">{{expense}} Rs</p>
        </div>
    </div>
    <div class="savings">
        <p>Savings</p>
        <p>{{saving}} Rs</p>
    </div>
</div>