header {
    padding: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    width: 120px;
    padding: 14px;
    border-radius: 3px;
    border: none;
    background-color: #e2f1ff;
    color: #1e58ff;
    cursor: pointer;
    font-weight: bold;
    transition: all .2s;
}

nav button:hover {
    background-color: #1e7dff;
    color: #fff;
}

nav button.expense {
    margin-left: 10px;
    background-color: rgb(255, 235, 233);
    color: rgb(201, 90, 77);
}

nav button.expense:hover {
    background-color: salmon;
    color: white;
}