@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.register{
    background-color: #ffff;
    box-shadow: 10px 10px 20px 10px rgba(0, 0 , 0, 0.09);
    width: 100vh;
    overflow: hidden;
    margin: 3vh 0;
    height: fit-content;
}

.register-body{
    padding:30px;
}

.register-body .title{
    font-size: 30px;
    font-style: bold;
    text-align: center;
}

.register-body p.content{
    
    margin: 30px 20px 20px 20px;
    display: flex;
}


.registerform{
    font-size: 16px;
}

.li{
    text-decoration: none;
}
.form-row{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.form-row label{
    flex: 1;
    margin: 12px;
}


.input{
    border: none;
    outline: none;
    padding: 15px 0px;
}

.form-row  input {
    flex: 2;
    margin: 10px;
    padding: 10px 10px;
    outline: none;
    border-radius: 8px;
    
}
.form-row  button {
    flex: 5;
    
    margin: 10px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #303030;
    color: #f4f4f4;
    outline: none;
}

.form-row button:hover{
    box-shadow: 10px 10px 20px 10px rgba(0, 0 , 0, 0.15);
    background-color: #606060;
    transition: 0.6s;
}
